<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228939723832-36e22quonrseiqmrcumo7nn8fc5g5pmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228939723832-36e22quonrseiqmrcumo7nn8fc5g5pmf</string>
	<key>API_KEY</key>
	<string>AIzaSyBwW8URPMGZdKTub38BOQsIAZk8X-HuezQ</string>
	<key>GCM_SENDER_ID</key>
	<string>228939723832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.allergy</string>
	<key>PROJECT_ID</key>
	<string>allergyflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>allergyflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228939723832:ios:1d18c7eb30e923a617a2cd</string>
</dict>
</plist>